

.login {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}
.login .form-box {
  margin-top: 35px;
}
.login .form-box .form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
  background-color: #eee;
  border-bottom: 1px solid #888;
}
.login .form-box .form-top .form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}
.login .form-box .form-top .form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}
.login .form-box .form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}
.login .btn-link {
  display: inline-block;
  height: 50px;
  margin: 5px;
  padding: 16px 20px 0 20px;
  background: #4aaf51;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.login .btn-link:hover {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}
.login .btn-link:focus {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}
.login .btn-link:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}
.login .btn-link i {
  padding-right: 5px;
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
}
.login .btn-link-facebook {
  background: #4862a3;
}
.login .btn-link-twitter {
  background: #55acee;
}
.login .btn-link-google {
  background: #dd4b39;
}
